body {
    background: #999999;
}

main {
    max-width: 80%;
    margin: auto;
    background-color: white;
}

h1, h2, h3, h4 {
    padding: 10px;

}

p {
    padding: 5px;
    line-height: 1px;
}

.event {
    background-color: orange;
    margin: 15px;
    padding: 20px;
}

.user {
    background-color: aquamarine;
    margin-right: auto;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px;
    max-width: 50%;
}

.user-form {
    padding: 15px;
    background-color: rgb(1, 192, 1);
    max-width: 40%;
    margin: auto;
}

.remove-user {
    float: right;
    margin-top: -12px;
}

.status-bar {
    width: 300px;
    height: 25px;
    background-color: white;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 4;
}

.status-bar-fill {
    background-color: purple;
    width:0;
    height: inherit;
    z-index: 0;
}